.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  grid-row-gap: 16px;
  align-content: flex-end;
  justify-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px 0px;
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.img__j9Vc4 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 100vh;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.img__j9Vc4 > picture > img {
  object-fit: cover;
}
.freeBox__pEqlo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ydvu3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 24px;
  padding: 24px;
  border-width: 5px;
  border-style: solid;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 42px;
  }
}
.h4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.h3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 42px;
  min-width: 0;
}
.freeBox__gh22A {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__gh22A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__gh22A > :global(.__wab_flex-container) > *,
.freeBox__gh22A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gh22A > :global(.__wab_flex-container) > picture > img,
.freeBox__gh22A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.link__dbcRk {
  display: flex;
}
.svg__qq3Dk {
  object-fit: cover;
  max-width: 100%;
  width: 42px;
  height: 42px;
  color: #ff0000;
  flex-shrink: 0;
}
.link__oeAc9 {
  position: relative;
  display: flex;
}
.svg__hq94Q {
  object-fit: cover;
  max-width: 100%;
  width: 42px;
  height: 42px;
  color: #ff0000;
  flex-shrink: 0;
}
.img___0Lxi7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 80%;
}
.img___0Lxi7 > picture > img {
  object-fit: cover;
}
